- unless current_user
  .alert.alert-info In order to subcribe, you have to login to Twitter
%table.table.table-striped.table-bordered.events
  - @events.each do |event|
    - subscribed = current_user && current_user.subscribed?(event)
    %tr{class: subscribed ? 'subscribed' : ''}
      %td= event_button(event, subscribed)
      %td.action
        - if current_user
          - if current_user.subscribed?(event)
            = subscription_button(event, subscribe: true, enabled: false)
            = subscription_button(event, subscribe: false, enabled: true)
          - else
            = subscription_button(event, subscribe: true, enabled: true)
            = subscription_button(event, subscribe: false, enabled: false)
        - else
          = subscription_button(event, subscribe: true, enabled: false)
          = subscription_button(event, subscribe: false, enabled: false)
