%ul
  - if @event.has_topics?
    - @event.ordered_topics.each do |topic|
      %li
        %article
          = link_to event_topic_path(@event, topic) do
            %h1= topic.title
          - if @selected == topic
            - unless topic.author.blank?
              %p Who / #{topic.author}
            - unless topic.description.blank?
              %p What / #{topic.description.try(:html_safe)}
  - else
    %p No topic has been proposed yet..
    = image_tag "event-status/le_fu.jpeg", class: 'topics status'
