.navbar.navbar-fixed-top
  .navbar-inner
    .container
      = link_to "RubySocialClub", root_path, class: 'brand'
      .nav
        %li
          = link_to image_tag('https://ssl.gstatic.com/images/icons/gplus-32.png', size: '26x26'), 'https://plus.google.com/101563362811745279798', rel: 'publisher', class: 'google-plus'

        %li.dropdown
          %a{class: "dropdown-toggle", 'data-toggle' => "dropdown", href: "#"}
            Events
            %span.caret
          %ul.dropdown-menu
            = link_to 'Incoming', events_path
            = link_to 'Past', events_path(past: true)

        %li.account
          - if current_user
            %span
              = current_user.name
              %i.icon-user.icon-white
            = link_to 'Logout', signout_path, class: 'logout'
          - else
            %span Login:
            - if Rails.env.production?
              = link_to image_tag('twitter.jpg', alt: 'twitter', size: '16x16'), "/auth/twitter"
            - else
              = link_to image_tag('twitter.jpg', alt: 'twitter', size: '16x16'), "/auth/developer"
