!!! 5
%html{lang: I18n.locale}
  %head
    = site_metas
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body{class: logged_in? ? 'logged' : 'not_logged'}
    = render 'layouts/header'
    = yield
